fastapi
uvicorn[standard]
python-dotenv
huggingface_hub
requests
sqlalchemy
psycopg2-binary
passlib[bcrypt]
bcrypt
python-jose[cryptography]
python-multipart
pymupdf
python-docx
scikit-learn
numpy
Pillow
slowapi
groq
tavily-python
resend
sib-api-v3-sdk
